{#
    Private 'base.html.twig'
    -> 'app/base.html.twig'
#}

{% extends 'base.html.twig' %}

{% block title %}{{ title }} | {{ parent() }}{% endblock %}

{% block main_header %}{{ include('app/_partial/_header.html.twig') }}{% endblock %}
{% block main_footer %}{{ include('app/_partial/_footer.html.twig') }}{% endblock %}
{% block offcanvas %}{{ include('app/_partial/_offcanvas.html.twig') }}{% endblock %}

{% block main_content %}
    
    {# toolbar #}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="">{{ title }}</div>
            <div class="d-flex justify-content-end align-items-center gap-1">{% block toolbar %}{% endblock %}</div>
        </div>
    </div>

    {# body #}
    <div class="container">{% block body %}{% endblock %}</div>
{% endblock %}