<div class="row" {{ attributes }}>
    <div class="col-2">
        <ul class="nav flex-column nav-underline" id="newEventTab" role="tablist">

            {# General #}
            <li class="nav-item" role="presentation">
                <button class="nav-link active text-start w-100" id="general-tab" data-bs-toggle="tab" data-bs-target="#general-tab-pane" type="button" role="tab" aria-controls="general-tab-pane" aria-selected="true">1. General</button>
            </p>

            {# Date & Time #}
            <li class="nav-item" role="presentation">
                <button class="nav-link text-start w-100" id="dateTime-tab" data-bs-toggle="tab" data-bs-target="#dateTime-tab-pane" type="button" role="tab" aria-controls="dateTime-tab-pane" aria-selected="false">2. Date & Time</button>
            </p>

            {# Schedule #}
            <li class="nav-item" role="presentation">
                <button class="nav-link text-start w-100" id="schedule-tab" data-bs-toggle="tab" data-bs-target="#schedule-tab-pane" type="button" role="tab" aria-controls="schedule-tab-pane" aria-selected="false">3. Schedule</button>
            </p>

            {# Location #}
            <li class="nav-item" role="presentation">
                <button class="nav-link text-start w-100" id="location-tab" data-bs-toggle="tab" data-bs-target="#location-tab-pane" type="button" role="tab" aria-controls="location-tab-pane" aria-selected="false">4. Location</button>
            </p>

            {# Visitor #}
            <li class="nav-item" role="presentation">
                <button class="nav-link text-start w-100" id="visitor-tab" data-bs-toggle="tab" data-bs-target="#visitor-tab-pane" type="button" role="tab" aria-controls="visitor-tab-pane" aria-selected="false">5. Visitor</button>
            </p>

            {# Rider #}
            <li class="nav-item" role="presentation">
                <button class="nav-link text-start w-100" id="rider-tab" data-bs-toggle="tab" data-bs-target="#rider-tab-pane" type="button" role="tab" aria-controls="rider-tab-pane" aria-selected="false">6. Rider</button>
            </p>

            {# Contact #}
            <li class="nav-item" role="presentation">
                <button class="nav-link text-start w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">7. Contact</button>
            </p>

            {# Save #}
            <li class="nav-item" role="presentation">
                <button class="nav-link text-start w-100" id="save-tab" data-bs-toggle="tab" data-bs-target="#save-tab-pane" type="button" role="tab" aria-controls="save-tab-pane" aria-selected="false">8. Status & Save</button>
            </p>
        </ul>
    </div>

    <div class="vr p-0" style="--bs-border-width: 1px;"></div>

    <div class="col">
        {{ form_start(form) }}
        <div class="tab-content" id="newEventTabContent">

            {# General #}
            <div class="tab-pane fade show active" id="general-tab-pane" role="tabpanel" aria-labelledby="general-tab" tabindex="0">
                <h4 class="h4 mb-3">General</h4>
                {{ form_row(form.name, { 'attr': { 'data-model': 'norender|event.name' }}) }}
                {# 
                    <div class="mb-3">
                        <label for="name" class="form-label" required>Name des Events</label> 
                        <input id="name" type="text" class="form-control" data-model="norender|name" placeholder="Pflichtfeld" required/>
                    </div>
                #}

                {{ form_row(form.type, { 'attr': { 'data-model': 'norender|event.type' }}) }}
                {# 
                    <div class="mb-3">
                        <label for="type" class="form-label">Typ des Events</label> 
                        <select class="form-select" data-model="norender|type" {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}>
                            <option selected>Pflichtfeld</option>
                            <option value="Rennen">Rennen</option>
                            <option value="Rennserie">Rennserie</option>
                            <option value="Freies Training">Freies Training</option>
                            <option value="Schulung">Schulung</option>
                            <option value="Trainingscamp">Trainingscamp</option>
                            <option value="Sonstiges">Sonstiges</option>
                        </select>
                    </div>
                #}

                {{ form_row(form.description, { 'attr': { 'data-model': 'norender|event.description' }}) }}
                {# 
                    <div class="mb-3">
                        <label for="description" class="form-label">Teile Interessierten mit, was sie unbedingt noch über dein Event wissen sollten.</label> 
                        <textarea id="description" type="text" class="form-control" data-model="norender|description" placeholder="Hinweise/Besonderheiten"></textarea>
                    </div>
                #}

            </div>

            {# Date & Time #}
            <div class="tab-pane fade" id="dateTime-tab-pane" role="tabpanel" aria-labelledby="dateTime-tab" tabindex="0">
                <h4 class="h4 mb-3">Date & Time</h4>
                {{ form_row(form.dateStart, { 'attr': { 'data-model': 'norender|event.dateStart' }}) }}
                {# 
                    <div class="mb-3">
                        <label for="dateStart" class="form-label">Wann findet euer Event statt?</label> 
                        <input id="dateStart" type="date" class="form-control" data-model="norender|dateStart" placeholder="Startdatum" required>
                    </div>
                #}

                {{ form_row(form.dateEnd, { 'attr': { 'data-model': 'norender|event.dateEnd' }}) }}
                {# 
                    <div class="mb-3">
                        <label for="dateEnd" class="form-label">Wann endet euer Event?</label> 
                        <input id="dateEnd" type="date" class="form-control" data-model="norender|dateEnd" placeholder="Pflichtfeld">
                    </div>
                #}

                {{ form_row(form.isAllDay, { 'attr': { 'data-model': 'norender|event.isAllDay' }}) }}
                {# 
                    <div class="mb-3">
                        <label for="isAllDay" class="form-label">Ganztägig?</label> 
                        <input id="isAllDay" type="date" class="form-control" data-model="norender|isAllDay" placeholder="Pflichtfeld">
                    </div>
                #}           
            </div>

            {# Schedule #}
            <div class="tab-pane fade" id="schedule-tab-pane" role="tabpanel" aria-labelledby="schedule-tab" tabindex="0">
                <h4 class="h4 mb-3">Schedule</h4>
                {# {{ form_row(form.schedule, { 'attr': { 'data-model': 'norender|event.schedule' }}) }} #}
                <button
                    data-action="live#action"
                    data-live-action-param="addSchedule"
                    type="button"
                    class="btn btn-outline-secondary"
                >+ Add Schedule</button>
                {% for key, scheduleForm in form.schedule %}
                    <button
                        data-action="live#action"
                        data-live-action-param="removeSchedule"
                        data-live-index-param="{{ key }}"
                        type="button"
                        class="btn btn-outline-secondary"
                    >X</button>
        
                    {{ form_widget(commentForm) }}
                {% endfor %}
                {# 
                    <div class="">+ Tag Hinzufügen</div>
                    <div class="">Neuer Tag | Name
                        <div class="">Zeit *von* - *bis* | Titel | Beschreibung</div>
                    </div>
                #}
            </div>
            
            {# Location #}
            <div class="tab-pane fade" id="location-tab-pane" role="tabpanel" aria-labelledby="location-tab" tabindex="0">
                <h4 class="h4 mb-3">Location</h4>
                {# {{ form_row(form.location, { 'attr': { 'data-model': 'norender|event.location' }}) }} #}
                {# 
                    <div class="">Ort Name</div>
                    <div class="">Ort Link</div>
                    <div class="">Ort Beschreibung/Informationen</div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Wo findet das Event statt?</label> 
                        <input id="location" type="text" class="form-control" data-model="norender|location" placeholder="Pflichtfeld">
                    </div>
                #}

                {% for location in form.location %}
                    <div class="location-form">
                        {{ form_row(location.name) }}
                        {{ form_row(location.address) }}
                        {{ form_row(location.url) }}
                        {{ form_row(location.description) }}
                    </div>
                {% endfor %}
                
            </div>

            {# Visitor #}
            <div class="tab-pane fade" id="visitor-tab-pane" role="tabpanel" aria-labelledby="visitor-tab" tabindex="0">
                <h4 class="h4 mb-3">Visitors</h4>
                {{ form_row(form.visitorPrice, { 'attr': { 'data-model': 'norender|event.visitorPrice' }}) }}
                {# 
                    <div class="mb-3">
                        <label for="priceVisitor" class="form-label">Wieviel Eintritt kostet dein Event für Zuschauer?</label> 
                        <input id="priceVisitor" type="text" class="form-control" data-model="norender|priceVisitor" placeholder="Preis für Zuschauer">
                    </div>
                #}

                {{ form_row(form.visitorStart, { 'attr': { 'data-model': 'norender|event.visitorStart' }}) }}
                {# 
                    <div class="mb-3">
                        <label for="dateTimeStartVisitor" class="form-label">Ab wann sind Zuschauer willkommen?</label> 
                        <input id="dateTimeStartVisitor" type="datetime" class="form-control" data-model="norender|dateTimeStartVisitor" placeholder="Wann sind Besucher willkommen?">
                    </div>
                #}
            </div>

            {# Rider #}
            <div class="tab-pane fade" id="rider-tab-pane" role="tabpanel" aria-labelledby="rider-tab" tabindex="0">
                <h4 class="h4 mb-3">Riders</h4>
                {{ form_row(form.riderClasses, { 'attr': { 'data-model': 'norender|event.riderClasses' }}) }}
                {# 
                    <div class="mb-3">
                        <label for="classes" class="form-label">Welche Klassen sind erlaubt? Schreibe die erlaubten Klassen zur besseren Übersicht bitte untereinander in das Feld.</label> 
                        <input id="classes" type="text" class="form-control" data-model="norender|name" placeholder="Alle Klassen">
                    </div>
                #}

                {{ form_row(form.riderRegistration, { 'attr': { 'data-model': 'norender|event.riderRegistration' }}) }}
                {# 
                    <div class="mb-3">
                        <label for="registration" class="form-label">Teile interessierten Fahrern mit, wo sie sich anmelden sollen und welche Informationen ihr von ihnen vorab haben möchtet. (Zum Beispiel: Nachname, Vorname, Startnummer, Motorradmarke, Kubikanzahl des Motors, Klasse)</label> 
                        <input id="registration" type="text" class="form-control" data-model="norender|registration" placeholder="Pflichtfeld">
                    </div>
                #}

                {{ form_row(form.riderPrice, { 'attr': { 'data-model': 'norender|event.riderPrice' }}) }}
                {# 
                    <div class="mb-3">
                        <label for="priceRider" class="form-label">Wieviel kostet es für die teilnehmenden Fahrer?</label> 
                        <input id="priceRider" type="text" class="form-control" data-model="norender|priceRider" placeholder="Preis für Fahrer">
                    </div>
                #}

                {{ form_row(form.riderStart, { 'attr': { 'data-model': 'norender|event.riderStart' }}) }}
                {# 
                    <div class="mb-3">
                        <label for="dateTimeArriving" class="form-label">Wann dürfen die teilnehmenden Fahrer anreisen?</label> 
                        <input id="dateTimeArriving" type="datetime" class="form-control" data-model="norender|dateTimeArriving" placeholder="Wann dürfen Fahrer anreisen?">
                    </div>
                #}

                {{ form_row(form.riderBreefing, { 'attr': { 'data-model': 'norender|event.riderBreefing' }}) }}
                {# 
                    <div class="mb-3">
                        <label for="dateTimeRidersbreefing" class="form-label">Wann ist die Fahrerbesprechung geplant?</label> 
                        <input id="dateTimeRidersbreefing" type="datetime" class="form-control" data-model="norender|dateTimeRidersbreefing" placeholder="Wann ist Fahrerbesprechung?">
                    </div>
                #}

                {{ form_row(form.riderEnd, { 'attr': { 'data-model': 'norender|event.riderEnd' }}) }}
                {# 
                    <div class="mb-3">
                        <label for="dateTimeLeaving" class="form-label">Wann müssen die teilnehmenden Fahrer abreisen?</label> 
                        <input id="dateTimeLeaving" type="dateTime" class="form-control" data-model="norender|dateTimeLeaving" placeholder="Wann müssen Fahrer abreisen?">
                    </div>
                #}
            </div>

            {# Contact #}
            <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                <h4 class="h4 mb-3">Contact</h4>
                <div class="">
                    <button type="button" class="btn btn-sm btn-outline-secondary"
                            data-action="live#action" data-live-action-param="addOrganizer">
                        
                            <i class="fas fa-plus"></i>
                            Organizer
                        
                    </button>

                    {% for organizer in form.organizers %}
                        <div class="">
                            {{ form_row(organizer.name) }}
                            {{ form_row(organizer.email) }}
                            {{ form_row(organizer.phone) }}
                            {{ form_row(organizer.website) }}
                            
                            <button type="button" class="btn btn-sm btn-outline-danger" data-live-action="removeOrganizer" data-live-arg-index="{{ key }}">
                                <i class="fas fa-minus"></i>
                                Remove Organizer
                            </button>
                        </div>
                    {% endfor %}
                </div>
                {# {{ form_row(form.organizers, { 'attr': { 'data-model': 'norender|event.organizers' }}) }} #}
                {# 
                    <div class="">+ Organisator Hinzufügen
                        <div class="">Name des Organisators/Ansprechpartner</div>
                        <div class="">E-Mail des Organisators</div>
                        <div class="">Telefon des Orgnaisators</div>
                        <div class="">Website des Organisators</div>
                    </div>
                #}

                {{ form_row(form.websites, { 'attr': { 'data-model': 'norender|event.websites' }}) }}
                {# 
                    <div class="mb-3">
                        <label for="linkUrl" class="form-label">Event Links / Social Media</label> 
                        <input id="linkUrl1" type="url" class="form-control" data-model="norender|linkUrl1" placeholder="Link">
                        <input id="linkUrl2" type="url" class="form-control" data-model="norender|linkUrl2" placeholder="Link">
                        <input id="linkUrl3" type="url" class="form-control" data-model="norender|linkUrl3" placeholder="Link">
                    </div>
                #}
            </div>

            {# Save #}
            <div class="tab-pane fade" id="save-tab-pane" role="tabpanel" aria-labelledby="save-tab" tabindex="0">
                <h4 class="h4 mb-3">Status</h4>
                {{ form_row(form.visibility, { 'attr': { 'data-model': 'norender|event.visibility' }}) }}
                {# <div class="mb-3">Sichtbarkeit (Privat, Öffentlich, Nicht Gelistet)</div> #}

                {{ form_row(form.status, { 'attr': { 'data-model': 'norender|event.status' }}) }}
                {# <div class="mb-3">Status (Entwurf, Öffentlich, Verschoben, Abgesagt)</div> #}

                <button data-action="live#action" data-live-action-param="save" class="btn btn-outline-secondary">Speichern (Entwurf)</button>
                <button data-action="live#action" data-live-action-param="save" class="btn btn-outline-primary">Veröffentlichen</button>
            </div>
        </div>
        {{ form_end(form) }}

    </div>
</div>
