{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>DateTimeBegin</th>
                <th>DateTimeEnd</th>
                <th>IsOpenEnd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.dateTimeBegin ? event.dateTimeBegin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.dateTimeEnd ? event.dateTimeEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.isOpenEnd ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}">Create new</a>
{% endblock %}
