<div class="" {{ attributes }}>
    <table class="table">
        <thead>
            <tr>
                {% if this.selector %}
                    <th>CHECKBOX</th>
                {% endif %}

                {% for key, name in this.properties %}
                    <th>{{ name }}</th>
                {% endfor %}

                {% if this.actions %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for entity in this.entities %}
            <tr>
                {% if this.selector %}
                    <td>CHECKBOX</td>
                {% endif %}

                {% for key, name in this.properties %}
                    {% set value = attribute(entity, key) %}
                    <td>
                        {% if value is iterable %}
                            {{ value|join(', ') }}
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </td>
                {% endfor %}

                {% if this.actions %}
                    <td>
                        {% if actions.read %}
                            <a href="{{ path( this.path ~ 'read', {'id': entity.id}) }}" class="btn btn-sm btn-outline-secondary"><i class="fas fa-eye"></i></a>
                        {% endif %}

                        {% if actions.update %}
                            <a href="{{ path( this.path ~ 'update', {'id': entity.id}) }}"class="btn btn-sm btn-outline-secondary"><i class="fas fa-pen"></i></a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="{{ this.properties|length }}">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>