{#
    Verwende diese Datei für Admin Seiten
    {% extends 'admin/base.html.twig' %}
#}

{% extends 'base.html.twig' %}

{% block title %}Admin | {{ page_title }}{% endblock %}

{% block stylesheets %}{{ encore_entry_link_tags('admin') }}{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('admin') }}{% endblock %}

{% block main %}
    <div class="container-fluid" data-turbo="false">
        <div id="header" class="border-bottom">{{ include('admin/_/_header.html.twig') }}</div>
        <div id="sidebar" class="border-end">{{ include('admin/_/_sidebar.html.twig') }}</div>
        <div id="content" class="p-3">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                    <div class="title"><h3>{{ page_title }}</h3></div>
                    <div class="toolbar d-flex justify-content-end align-items-center gap-2">{% block toolbar %}{% endblock %}</div>
                </div>
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
