{% extends 'app/base.html.twig' %}

{% block toolbar %}
    {{ component('Crud:Toolbar', {
        path: 'app_events_',
        create: true,
    })  }}
{% endblock %}
    

{% block body %}
    
    {{ component('Crud:Index', {
        path: 'app_events_',
        entities: events,
        selector: false,

        actions: {
            read: true,
            update: true,
        },

        properties: {
            id: {
                type: 'integerField',
                name: 'ID',
            },

            name: {
                type: 'stringField',
                name: 'Name',
            },

            dateStart: {
                type: 'dateField',
                name: 'Begin',
            },

            dateEnd: {
                type: 'dateField',
                name: 'End',
            },
        },
    }) }}
    
{% endblock %}

{# 
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>location</th>
                <th>dateStart</th>
                <th>DateTimeEnd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.location }}</td>
                    <td>{{ event.dateStart ? event.dateStart|date('d-m-Y') : '' }}</td>
                    <td>{{ event.dateEnd ? event.dateEnd|date('d-m-Y') : '' }}</td>
                    <td>{{ event.registration }}</td>
                    <td>
                        <a href="{{ path('app_events_read', {'id': event.id}) }}">show</a>
                        <a href="{{ path('app_events_update', {'id': event.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block toolbar %}
    <a href="{{ path('app_events_create') }}">Create new</a>
{% endblock %}
#}