<!DOCTYPE html>
<html lang="de" dir="ltr" data-bs-theme="auto">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Racing Action{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}{{ encore_entry_link_tags('common') }}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('common') }}{% endblock %}
    </head>
    <body>
        {% block main %}
            <div class="container-fluid">
                <div class="popover" {{ stimulus_controller('popover') }}></div>

                {# Header #}
                <div id="header">{% block main_header %}{{ include('_partial/_header.html.twig') }}{% endblock %}</div>

                {# Content #}
                <div id="content" class="p-3">{% block main_content %}<div class="container">{% block body %}{% endblock %}</div>{% endblock %}</div>

                {# Footer #}
                <div id="footer">{% block main_footer %}{{ include('_partial/_footer.html.twig') }}{% endblock %}</div>
            </div>
        {% endblock %}

        {% block offcanvas %}{{ include('_partial/_offcanvas.html.twig') }}{% endblock %}

        {% block modal %}{% endblock %}
    </body>
</html>
