<!DOCTYPE html>
<html lang="de" dir="ltr" data-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Racing Action{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}{{ encore_entry_link_tags('common') }}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('common') }}
            <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
        {% endblock %}
    </head>
    <body>
        <style>
            body {background: #001a1a}
            h1 {color: #ccffff}
            h2 {color: #ccffff}
            h3 {color: #ccffff}
            h4 {color: #ccffff}
            h5 {color: #ccffff}
            h6 {color: #ccffff}
            p {color: #ccffff}
            li {color: #ccffff}
            a {color: #ccffff}
            button {color: #ccffff}
        </style>
        {% block main %}
            <div class="container-fluid">
                <div id="header">{{ include('_partial/_header.html.twig') }}</div>
                <div id="content" class="p-3">
                    <div class="container">{% block body %}{% endblock %}</div>
                </div>
                <div id="footer">{{ include('_partial/_footer.html.twig') }}</div>
            </div>
        {% endblock %}
        {% block offcanvas %}{{ include('_partial/_offcanvas.html.twig') }}{% endblock %}
        {% block modal %}{% endblock %}
    </body>
</html>
