<footer class="border-top h-100 w-100">
    <div class="container h-100 w-100 d-flex justify-content-between align-items-center">

    {# Copyright #}
    <div class="d-flex align-items-center">
        <a href="{{ path('public_index') }}" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Racing Action</span>
    </div>

    {# Menu #}
    <ul class="nav justify-content-center align-items-center">
      <li class="nav-item"><a href="{{ path('public_imprint') }}" class="nav-link px-2 text-body-secondary">Imprint</a></li>
      <li class="nav-item"><a href="{{ path('public_index') }}" class="nav-link px-2 text-body-secondary">Terms Of Service</a></li>
      <li class="nav-item"><a href="{{ path('public_index') }}" class="nav-link px-2 text-body-secondary">Privacy</a></li>
      <li class="nav-item"><a href="{{ path('public_index') }}" class="nav-link px-2 text-body-secondary">FAQ</a></li>
    </ul>

    {# Social Media Icons #}
    <ul class="nav list-unstyled d-flex justify-content-end align-items-center">
        <li class="ms-3">
            <a class="text-body-secondary" href="https://jojogp215.wixsite.com/my-site-1">
                <h4><i class="fas fa-calendar-days me-2"></i></h4>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="https://www.instagram.com/jojogp_215/">
                <h4><i class="fa-brands fa-instagram me-2"></i></h4>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="https://www.facebook.com/dieeinzigwahrejojo">
                <h4><i class="fa-brands fa-facebook me-2"></i></h4>
            </a>
        </li>
    </ul>
</footer>