<header class="container h-100 d-flex align-items-center justify-content-between px-3 border-bottom">
    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas"><i class="fa-solid fa-bars"></i></button>

    <div class="">
        <a href="{{ path('public_index') }}" class="d-inline-flex link-body-emphasis text-decoration-none">
            {# <img src="{{ asset('images/logo.png') }}" height="32" /> #}
            <strong>Racing Action</strong>
        </a>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary rounded rounded-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
        </button>

        {# Bezieht sich auf Nutzer-Bezogene Seiten #}
        <ul class="dropdown-menu">
            {% if app.user %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin_index') }}" role="button" class="dropdown-item">Admin</a></li>
                {% endif %}

                <li><hr class="dropdown-divider"></li>
                <li><a href="{{ path('auth_login') }}" role="button" class="dropdown-item text-danger">Logout</a></li>

            {% else %}
                <li><a href="{{ path('auth_login') }}" role="button" class="dropdown-item">Login</a></li>
                <li><a href="{{ path('auth_login') }}" role="button" class="dropdown-item pe-none opacity-25">Register</a></li>
            {% endif %}

        </ul>
    </div>

</header>
