<header class="px-3 h-100 border-bottom">
    <div class="container h-100 d-flex align-items-center justify-content-between">

        {# OffCanvas Button #}
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas"><i class="fa-solid fa-bars"></i></button>

        {# Logo/Text #}
        <div class="">
            <a href="{{ path('public_index') }}" class="d-inline-flex link-body-emphasis text-decoration-none">
                {# <img src="{{ asset('images/logo.png') }}" height="32" /> #}
                <strong>Racing Action</strong>
            </a>
        </div>

        {# Nutzer Menu #}
        <div class="dropdown">
            <button class="btn btn-secondary rounded rounded-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
            </button>

            <ul class="dropdown-menu">
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin_index') }}" role="button" class="dropdown-item">Admin</a></li>
                        <li><hr class="dropdown-divider"></li>
                    {% endif %}
                    <li><a href="{{ path('public_arbeiten') }}" role="button" class="dropdown-item">Mein Profil</a></li>
                    <li><a href="{{ path('public_arbeiten') }}" role="button" class="dropdown-item">Einstellungen</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a href="{{ path('auth_logout') }}" role="button" class="dropdown-item text-danger">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('auth_login') }}" role="button" class="dropdown-item">Login</a></li>
                    <li><a href="{{ path('auth_register') }}" role="button" class="dropdown-item">Register</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</header>
