<div id="offcanvas" class="offcanvas offcanvas-start" tabindex="-1" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Mehr Racing Action</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        {# Bezieht sich auf Öffentliche Seiten #}
        <ul class="nav flex-column">
            <li><a href="{{ path('public_index') }}" class="nav-link px-2">Home</a></li>
            <li><a href="{{ path('app_arbeiten') }}" class="nav-link px-2">Tracks</a></li>
            <li><a href="{{ path('app_arbeiten') }}" class="nav-link px-2">Veranstalter</a></li>
            <li><a href="{{ path('app_arbeiten') }}" class="nav-link px-2">Firmen</a></li>
            <li><a href="{{ path('public_about') }}" class="nav-link px-2">About</a></li>
        </ul>
        <hr>

        {# Bezieht sich auf "Private"" Seiten #}
        {% if app.user %}
            <ul class="nav flex-column">
                <li><a href="{{ path('app_arbeiten') }}" class="nav-link px-2">Mein Profil</a></li>
                <li><a href="{{ path('app_events_index') }}" class="nav-link px-2">Meine Events</a></li>
                <li><a href="{{ path('app_arbeiten') }}" class="nav-link px-2">Meine Veranstalter</a></li>
                <li><a href="{{ path('app_arbeiten') }}" class="nav-link px-2">Meine Firmen</a></li>
                <li><a href="{{ path('app_arbeiten') }}" class="nav-link px-2">Einstellungen</a></li>
            </ul>
        {% endif %}
    </div>
</div>
