<div id="offcanvas" class="offcanvas offcanvas-start" tabindex="-1" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Mehr Racing Action</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        {# Alle Seiten #}
        <ul class="nav flex-column">
            <p><a href="{{ path('public_index') }}" class="nav-link px-2">Startseite</a></p>
            <p><a href="{{ path('public_arbeiten') }}" class="nav-link px-2">Tracks</a></p>
            <p><a href="{{ path('public_arbeiten') }}" class="nav-link px-2">Veranstalter</a></p>
            <p><a href="{{ path('public_arbeiten') }}" class="nav-link px-2">Firmen</a></p>
            <p><a href="{{ path('public_about') }}" class="nav-link px-2">About</a></p>
        </ul>
        <hr>

        {# App Seiten #}
        {% if app.user %}
            <ul class="nav flex-column">
                <p><a href="{{ path('app_index') }}" class="nav-link px-2">Meine Startseite</a></p>
                <p><a href="{{ path('app_events_index') }}" class="nav-link px-2">Meine Events</a></p>
                <p><a href="{{ path('public_arbeiten') }}" class="nav-link px-2">Meine Tracks</a></p>
                <p><a href="{{ path('public_arbeiten') }}" class="nav-link px-2">Meine Veranstalter</a></p>
                <p><a href="{{ path('public_arbeiten') }}" class="nav-link px-2">Meine Firmen</a></p>
            </ul>
        {% endif %}
    </div>
</div>
